@charset 'utf-8';
@import 'font-awesome.min.css';
/*** reset - inicio  ****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*** reset - fin  ****/
@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Light.ttf) format('truetype');
}
@font-face{
	font-family: 'OpenSansCondBold';
	src: url(../fonts/OpenSansCondBold.ttf) format('truetype');
}
@font-face{
	font-family: 'RobotoCondensedRegular';
	src: url(../fonts/RobotoCondensedRegular.ttf) format('truetype');
}
*,*::before, *::after{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	background: url(../images/trama.png), linear-gradient(#130101 10%, #6c0204 15%, #ff0000 25%, #6d0400 95%);
	font-size: 14px;
	font-family: 'OpenSans';
	line-height: 1.428;
}
footer{
	background: #000;
	color: #fff;
	flex-wrap: wrap;
	padding-bottom: 1em;
	> div{
		&:nth-of-type(1){
			border-top: 5px solid #757575;
		}
		&:nth-of-type(2){
			border-top: 5px solid #9E9E9E;
			a{
  	    color: #ffc000;
		    font-weight: 900;
		    font-size: 1rem;
			}
			i{
				color: #4dc247;
				font-size: 2.5em;
			}
			p:nth-of-type(4){
				color: #4dc247;
				font-size: 1.2em;
			}
		}
		&:nth-of-type(3){
			border-top: 5px solid #424242;
			p{
				color: #424242;
				a{
					color: #424242;
				}
			}
		}
	}

	nav{
		column-count: 2;
		column-rule: 1px dotted #212121;
		column-gap: 15px;
		a{
			color: #BDBDBD;
			display: block;
			margin-bottom: 2px;
			padding: 0.2em 0.5em;
			line-height: 1.5;
			&:hover{
				color: #fff;
			}
			i{
				margin-right: 5px;
			}
		}
	}
	.social{
		margin-bottom: 1em;
		a{
			border-radius: 4px;
			display: inline-block;
			font-size: 1.4em;
			padding: 0.5em 0.7em;
			text-shadow: 0px 0px 10px #000;
			&:nth-of-type(1){
				//color: #f00;
				background: #3b5998;
				color: #fff;
			}
			&:nth-of-type(2){
				background: #55acee;
				color: #fff;
			}
			&:nth-of-type(3){
				background: #dd4b39;
				color: #fff;
			}
			&:nth-of-type(4){
				background: #bb0000;
				color: #fff;
			}
			&:hover{
				text-shadow: 0px 0px 1px #000;
			}
		}
	}
}
h1, h2, h3, h4, h5, h6{
	color: inherit;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}
h1, h2, h3 {
   	margin-top: 15px;
   	margin-bottom: 10px;
}
h4, h5, h6{
   	margin-top: 10px;
   	margin-bottom: 10px;
}
h1{font-size: 38px;}
h2{font-size: 28px;}
h3{font-size: 24px;margin-bottom: 0px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
header{
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	div{
		&:nth-of-type(1){
			//align-items: center
			text-align: center;
			.emblema{
				animation: emblema 1.5s infinite alternate;
			}
		}
	}
	nav{
		margin-top: 15px;
		align-self: flex-start;
		text-align: right;
		//display: flex;
		//justify-content: center;
		a{
	    font-size: 1rem;
			color: #fff;
			display: block;
			padding: 0.2em 0.4em;

			i{
				margin-left: 5px;
			}
			&:hover{
				color: #9E9E9E;
			}
		}
	}
}
@keyframes emblema{
	to{ transform: rotateY(0deg);};
	from{ transform: rotateY(90deg);}
}
img{
	height: auto;
	max-width: 100%;
}
.col{
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}


/*
.col1{width: 8.33%;}
.col2{width: 16.66%;}
.col3{width: 25%;}
.col4{width: 33.33%;}
.col5{width: 41.66%;}
*/
.col6{width: 100%;padding-left: 10px;padding-right: 10px;}
/*
.col7{width: 58.33%;}
.col8{width: 66.66%;}
.col9{width: 75%;}
.col10{width: 83.33%;}
.col11{width: 91.66%;}
.col12{width: 100%;}
*/
.contactos{
	background: #fff;
	padding-bottom: 1em;
	margin-top: 1em;
	flex-wrap: wrap;
	article{
		padding: 0 1em;
		h2{
			margin-bottom: 1em;
		}
		/*
		&:nth-of-type(1){
			flex: 1 1 25%;
		}
		&:nth-of-type(2){
			flex: 1 1 75%;
		}*/
	}
	.form{width: 100%;margin-top: 10px;
		.form-input{
			border-radius: 4px;
			border: 1px solid #ccc;
			color: #000;
			display: block;
			line-height: 2.5;
			margin-bottom: 0.3em;
			padding: 0 1em;
			width: 100%;
		}
		.form-textarea{
			border: 1px solid #ccc;
			color: #000;
			margin-bottom: 0.3em;
			padding: 0 1em;
			width: 100%;
		}
		.form-submit{
			background: rgba(0,0,0,.6);
	    border-radius: 4px;
	    border: 1px solid #616161;
	    color: #fff;
	    float: left;
	    line-height: 2.5em;
	    transition: all .5s linear;
	    width: 50%;
	    height: 40px;
	    font-size: 1rem;
	    font-weight: 700;
			&:hover{
				background: rgba(#000, 0.2);
				border: 1px solid #ccc;
				color: #000;
			}
		}
	}
}
.radio-option{
	text-align: center;
}
[type="checkbox"]{
	display: none;
}
.container{
	width: 75%;
	margin: 0 auto;
}
.nav{
	margin-top: 5px;
	//flex-wrap: wrap;
	a{
		align-items: center;
		background: linear-gradient( #212121 0%, #eee 5%, #616161 35%, #424242 50%, #0d0d0d 100%);
		box-shadow: 0px 0px 5px #212121 inset, 0px 0px 2px #424242 inset;
		color: #fff;
		display: block;
		display: flex;
		line-height: 1.2;
		flex: 1 1 100px;
		justify-content: center;
		margin-right: 2px;
		padding: 0.4em 0.3em;
		text-align: center;
		text-shadow: 0px 0px 1px #000, 0 0 5px #000;
		text-transform: uppercase;
		transition: all 0.2s linear;
		&:hover{
			background: linear-gradient( #D50000 0%, #FFCDD2 5%, #D50000 35%, #D50000 70%, #F44336 95%, #B71C1C 100%);
			box-shadow: 0px 0px 5px #B71C1C inset, 0px 0px 2px #FF8A80 inset;
		}
	}
}
.modal{
	background: rgba(#000, 0.9);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	//position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	.modal-content{
		animation: modal 0.4s;
		background: #fefefe;
		border: 1px solid #888;
		margin: 1% auto;
		padding: 0;
		position: relative;
		width: 75%;
		height: 100%;
		.modal-body{
			padding: 2em;
		}
		.modal-header{
			padding: 2px 16px;
			background: #757575;
			color: #fff;
			.close, .popup-close{
				color: #fff;
				float: right;
				font-size: 2.5em;
				font-weight: bold;
				&:hover, &:focus{
					color: #000;
					cursor: pointer;
					text-decoration: none;
				}
			}
			.popup-back, .popup-next{
				position: absolute;
				z-index: 2;
				top:50%;
				font-size: 3rem;
				text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.78);
				color: red;
				transform: translateY(-50%) scaleY(3);
				transition: 0.5s all;
				padding-top: 100%;
        padding-bottom: 100%;
				&:hover{
					color: #fff;
					text-shadow: 0 1px 1px rgba(255, 255, 255, 0.78);
				}
			}
			.popup-back{
				left: -40px;
			}
			.popup-next{
				right: -40px;
			}
		}
	}
}
@keyframes modal{
	from{ top: -100px; opacity: 0;}
	top{top: 0; opacity: 1;}
}
.productos{
	background: #fff;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 5px;
	margin-top: 0.5em;
	div{
		h3{
			background: #da251c;
			color: #fff;
			line-height: 1.5;
			margin-top: 0;
			padding: 0 1em;
			text-align: center;
			text-transform: uppercase;
		}
	}
	figure{
		background: #F5F5F5;
		border-radius: 4px;
		box-shadow: 0 0 15px #9E9E9E;
		margin-bottom: 2em;
		margin: 1em;
		//width: calc(33.33% - 2em);
		transition: all 0.5s linear;
		text-align: center;
		img{
			transition: all 0.5s linear;
			width: 100%;
			height: auto;
		}
		figcaption{
			padding: 0.2em 0;
			h3{

				border-bottom: 1px solid #E0E0E0;
				margin-bottom: 0.3em;
				padding-bottom: 0.5em;
			}
			a{
				background: linear-gradient(#757575, #050505);
				border-radius: 15px;
				color: #fff;
				display: inline-block;
				padding: 0.3em 0.5em;
				text-align: center;
				width: 50%;
				&:hover{
					background: linear-gradient(#050505, #757575);
					//color: #BDBDBD
				}
			}
		}
	}
	.titulo{
		h3{
			background: #eee;
			color: #000;
			line-height: 2;
			margin-top: 0;
			padding: 0 1em;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}
.row{
	display: flex;
}
.soluciones{
	background: #fff;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 1.5em;
	h2{
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		padding: 0.5em 0;
		text-align: center;
	}
	.solucion{
		text-align: center;
		margin: 1em 0;
		figcaption{
			a{
				border: 1px solid #ccc;
				color: #000;
				display: inline-block;
				font-weight: bold;
				margin: 1em 0;
				padding: 1em;
				transition: all 0.5s linear;
				width: 50%;
				&:hover{
					background: #212121;
					color: #fff;
				}
			}
			h4{
				font-weight: bold;
				margin: 1em 0;
			}
		}
		img{
			border-radius: 50%;
			border: 5px solid #9E9E9E;
			transition: all 0.5s linear;
			width: 50%;
		}
		&:hover img{
			transform: rotateZ(45deg);
		}
		&:hover figcaption a{
			background: #212121;
			color: #fff;
		}
	}
}
.slider{
	margin-top: 5px;
	align-items: center;
}
.slogan{
	background: #FF5252;
	color: #fff;
	font-family: 'RobotoCondensedRegular';
	font-size: 1.7em;
	margin: 0;
	text-align: center;
	text-shadow: 1px 1px 0px #000, 0 0 1px #000 inset;
	text-transform: uppercase;
}
@media (max-width: 479px){
	.cox1{width: 8.33%;}
	.cox2{width: 16.66%;}
	.cox3{width: 25%;}
	.cox4{width: 33.33%;}
	.cox5{width: 41.66%;}
	.cox6{width: 50%;}
	.cox7{width: 58.33%;}
	.cox8{width: 66.66%;}
	.cox9{width: 75%;}
	.cox10{width: 83.33%;}
	.cox11{width: 91.66%;}
	.cox12{width: 100%;}
	.hidden{
		display: none;
	}
	.nav{
		flex-wrap: wrap;
	}
	.poproductos{
		flex-wrap: wrap;
	}
}
@media (min-width: 480px){
	article{
		&:nth-of-type(1){
			flex: 1 1 50%;
		}
		&:nth-of-type(2){
			flex: 1 1 70%;
		}
	}
	.com1{width: 8.33%;}
	.com2{width: 16.66%;}
	.com3{width: 25%;}
	.com4{width: 33.33%;}
	.com5{width: 41.66%;}
	.com6{width: 50%;}
	.com7{width: 58.33%;}
	.com8{width: 66.66%;}
	.com9{width: 75%;}
	.com10{width: 83.33%;}
	.com11{width: 91.66%;}
	.com12{width: 100%;}
	.hidden{
		display: none;
	}
	.nav{
		flex-wrap: wrap;
	}
	.productos{
		figure{
			width: calc(75% - 2em);
		}
	}
	.poproductos{
		flex-wrap: wrap;
	}
}
@media (min-width: 768px){
	article{
		&:nth-of-type(1){
			flex: 1 1 35%;
		}
		&:nth-of-type(2){
			flex: 1 1 65%;
		}
	}
	.col1{width: 8.33%;}
	.col2{width: 16.66%;}
	.col3{width: 25%;}
	.col4{width: 33.33%;}
	.col5{width: 41.66%;}
	.col6{width: 50%;float: left;}
	.col7{width: 58.33%;}
	.col8{width: 66.66%;}
	.col9{width: 75%;}
	.col10{width: 83.33%;}
	.col11{width: 91.66%;}
	.col12{width: 100%;}
	.hidden{
		display: block;
	}
	.nav{
		flex-wrap: wrap;
	}
	.productos{
		figure{
			width: calc(50% - 2em);
		}
	}
	.poproductos{
		flex-wrap: nowrap;
	}
}
@media (min-width: 1024px){
	article{
		&:nth-of-type(1){
			flex: 1 1 25%;
		}
		&:nth-of-type(2){
			flex: 1 1 75%;
		}
	}
	.col1{width: 8.33%;}
	.col2{width: 16.66%;}
	.col3{width: 25%;}
	.col4{width: 33.33%;}
	.col5{width: 41.66%;}
	.col6{width: 50%; float: left;}
	.col7{width: 58.33%;}
	.col8{width: 66.66%;}
	.col9{width: 75%;}
	.col10{width: 83.33%;}
	.col11{width: 91.66%;}
	.col12{width: 100%;}
	.hidden{
		display: block;
	}
	.nav{
		flex-wrap: nowrap;
	}
	.productos{
		figure{
			width: calc(33.33% - 2em);
		}
	}
	.poproductos{
		flex-wrap: nowrap;
	}
}
.mapa_persialuminio{
    width: 100%;
	@media screen and (min-width: 816px) {
		height: 450px;
	}
	@media screen and (max-width: 815px) {
		height: 900px;
	}
}
/*TABS*/

// variables
$num-of-tabs: 2;
$tabs-header-width: 100% / $num-of-tabs;

@mixin tabs {
	@for $i from 1 through $num-of-tabs {
		&:nth-of-type(#{$i}) {
			&.swiper-pagination-bullet-active {
				~ .active-mark {
					left: $tabs-header-width * ($i - 1);
				}
			}
		}
	}
}

.swiper-container {
	width: 100%;
	height: 100%;
	margin: 0 auto 0;

	@media screen and (min-width: 800px) {
		width: 100%;
	}
}

.swiper-slide {
	background: #fff;
	color: #333;
	font-size: 1.8rem;
	min-height: 300px;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: center;
	padding-top: 56px;
}

.swiper-container-horizontal {
	> .swiper-pagination {
		top: 0;
		bottom: auto;

		.swiper-pagination-bullet {
			margin: 0;
		}
	}
}

.active-mark {
	background: #da251c;
	width: $tabs-header-width;
	height: 4px;
	position: absolute;
	left: 0;
	top: 52px;
	transition: left 0.2s ease-out;
}
.swiper-pagination-bullet {
	background-color: #eeeeee;
	border-radius: 0;
	box-sizing: border-box;
	color: #000;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: normal;
	opacity: 1;
	height: 56px;
	width: $tabs-header-width;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	text-align: center;
	transition: font-weight 0.22s ease;

	@include tabs;
	&:first-of-type {
		&.swiper-pagination-bullet-active {
			~ .active-mark {
				left: 0;
			}
		}
	}
}
.swiper-pagination-bullet-active {
	font-weight: bold;
}
