@import url(font-awesome.min.css);
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline; }

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block; }

body{
  line-height:1; }

ol,ul{
  list-style:none; }

blockquote,q{
  quotes:none; }

blockquote:after,blockquote:before,q:after,q:before{
  content:"";
  content:none; }

table{
  border-collapse:collapse;
  border-spacing:0; }
@font-face{
  font-family:OpenSans;
  src:url(../fonts/OpenSans-Light.ttf) format("truetype"); }

@font-face{
  font-family:RobotoCondensedRegular;
  src:url(../fonts/RobotoCondensedRegular.ttf) format("truetype"); }

*,:after,:before{
  box-sizing:border-box; }

a{
  text-decoration:none; }

body{
  background:url(../images/trama.png),linear-gradient(#130101 10%,#6c0204 15%,red 25%,#6d0400 95%);
  font-size:0.875rem;
  font-family:OpenSans;
  line-height:1.428; }

footer{
  background:#000;
  color:#fff;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  padding-bottom:1em; }
  footer>div:first-of-type{
    border-top:5px solid #757575; }
  footer>div:nth-of-type(2){
    border-top:5px solid #9e9e9e; }
    footer>div:nth-of-type(2) a{
      color:#ffc000;
      font-weight:900;
      font-size:1rem; }
    footer>div:nth-of-type(2) i{
      color:#4dc247;
      font-size:2.5em; }
    footer>div:nth-of-type(2) p:nth-of-type(4){
      color:#4dc247;
      font-size:1.2em; }
  footer>div:nth-of-type(3){
    border-top:5px solid #424242; }
      footer>div:nth-of-type(3) p,footer>div:nth-of-type(3) p a{
        color:#424242; }
  footer nav{
    column-count:2;
    column-rule:1px dotted #212121;
    column-gap:15px; }
    footer nav a{
      color:#bdbdbd;
      display:block;
      margin-bottom:2px;
      padding:.2em .5em;
      line-height:1.5; }
      footer nav a:hover{
        color:#fff; }
      footer nav a i{
        margin-right:5px; }
  footer .social{
    margin-bottom:1em; }
    footer .social a{
      border-radius:4px;
      display:inline-block;
      font-size:1.4em;
      padding:.5em .7em;
      text-shadow:0 0 10px #000; }
      footer .social a:first-of-type{
        background:#3b5998;
        color:#fff; }
      footer .social a:nth-of-type(2){
        background:#55acee;
        color:#fff; }
      footer .social a:nth-of-type(3){
        background:#dd4b39;
        color:#fff; }
      footer .social a:nth-of-type(4){
        background:#b00;
        color:#fff; }
      footer .social a:hover{
        text-shadow:0 0 1px #000; }

h1,h2,h3,h4,h5,h6{
  color:inherit;
  font-family:inherit;
  font-weight:500;
  line-height:1.1; }

h1,h2,h3{
  margin-top:15px; }

h1,h2,h3,h4,h5,h6{
  margin-bottom:10px; }

h4,h5,h6{
  margin-top:10px; }

h1{
  font-size:2.375rem; }

h2{
  font-size:1.75rem; }

h3{
  font-size:1.5rem;
  margin-bottom:0; }

h4{
  font-size:1.125rem; }

h5{
  font-size:0.875rem; }

h6{
  font-size:0.75rem; }

header{
  -ms-flex-align:center;
      align-items:center;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -ms-flex-pack:center;
      justify-content:center; }
  header div:first-of-type{
    text-align:center; }
    header div:first-of-type .emblema{
      animation:a 1.5s infinite alternate; }
  header nav{
    margin-top:15px;
    -ms-flex-item-align:start;
        align-self:flex-start;
    text-align:right; }
    header nav a{
      font-size:1rem;
      color:#fff;
      display:block;
      padding:.2em .4em; }
      header nav a i{
        margin-left:5px; }
      header nav a:hover{
        color:#9e9e9e; }

@keyframes a{
  to{
    transform:rotateY(0deg); }
  0%{
    transform:rotateY(90deg); } }

img{
  height:auto;
  max-width:100%; }

.col{
  padding-left:15px;
  padding-right:15px; }
.col,.col6{
  width:100%; }
.col6{
  padding-left:10px;
  padding-right:10px; }
.contactos{
  background:#fff;
  padding-bottom:1em;
  margin-top:1em;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap; }
  .contactos article{
    padding:0 1em; }
    .contactos article h2{
      margin-bottom:1em; }
  .contactos .form{
    width:100%;
    margin-top:10px; }
    .contactos .form .form-input{
      border-radius:4px;
      display:block;
      line-height:2.5; }
    .contactos .form .form-input,.contactos .form .form-textarea{
      border:1px solid #ccc;
      color:#000;
      margin-bottom:.3em;
      padding:0 1em;
      width:100%; }
    .contactos .form .form-submit{
      background:rgba(0,0,0,.6);
      border-radius:4px;
      border:1px solid #616161;
      color:#fff;
      float:left;
      line-height:2.5em;
      transition:all .5s linear;
      width:50%;
      height:40px;
      font-size:1rem;
      font-weight:700; }
      .contactos .form .form-submit:hover{
        background:rgba(0,0,0,.2);
        border:1px solid #ccc;
        color:#000; }

.radio-option{
  text-align:center; }

[type=checkbox]{
  display:none; }

.container{
  width:75%;
  margin:0 auto; }

.nav{
  margin-top:5px; }
  .nav a{
    -ms-flex-align:center;
        align-items:center;
    background:linear-gradient(#212121,#eee 5%,#616161 35%,#424242 50%,#0d0d0d);
    box-shadow:inset 0 0 5px #212121,inset 0 0 2px #424242;
    color:#fff;
    display:block;
    display:-ms-flexbox;
    display:flex;
    line-height:1.2;
    -ms-flex:1 1 100px;
        flex:1 1 100px;
    -ms-flex-pack:center;
        justify-content:center;
    margin-right:2px;
    padding:.4em .3em;
    text-align:center;
    text-shadow:0 0 1px #000,0 0 5px #000;
    text-transform:uppercase;
    transition:all .2s linear; }
    .nav a:hover{
      background:linear-gradient(#d50000,#ffcdd2 5%,#d50000 35%,#d50000 70%,#f44336 95%,#b71c1c);
      box-shadow:inset 0 0 5px #b71c1c,inset 0 0 2px #ff8a80; }

.modal{
  background:rgba(0,0,0,.9);
  display:none;
  height:100%;
  left:0;
  position:fixed;
  top:0;
  width:100%;
  z-index:1; }
  .modal .modal-content{
    animation:b .4s;
    background:#fefefe;
    border:1px solid #888;
    margin:1% auto;
    padding:0;
    position:relative;
    width:75%;
    height:100%; }
    .modal .modal-content .modal-body{
      padding:2em; }
    .modal .modal-content .modal-header{
      padding:2px 16px;
      background:#757575;
      color:#fff; }
      .modal .modal-content .modal-header .close,.modal .modal-content .modal-header .popup-close{
        color:#fff;
        float:right;
        font-size:2.5em;
        font-weight:700; }
        .modal .modal-content .modal-header .close:focus,.modal .modal-content .modal-header .close:hover,.modal .modal-content .modal-header .popup-close:focus,.modal .modal-content .modal-header .popup-close:hover{
          color:#000;
          cursor:pointer;
          text-decoration:none; }
      .modal .modal-content .modal-header .popup-back,.modal .modal-content .modal-header .popup-next{
        position:absolute;
        z-index:2;
        top:50%;
        font-size:3rem;
        text-shadow:0 1px 1px hsla(0,0%,100%,.78);
        color:red;
        transform:translateY(-50%) scaleY(3);
        transition:all .5s;
        padding-top:100%;
        padding-bottom:100%; }
        .modal .modal-content .modal-header .popup-back:hover,.modal .modal-content .modal-header .popup-next:hover{
          color:#fff;
          text-shadow:0 1px 1px hsla(0,0%,100%,.78); }
      .modal .modal-content .modal-header .popup-back{
        left:-40px; }
      .modal .modal-content .modal-header .popup-next{
        right:-40px; }

@keyframes b{
  0%{
    top:-100px;
    opacity:0; }
  top{
    top:0;
    opacity:1; } }

.productos{
  background:#fff;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -ms-flex-pack:center;
      justify-content:center;
  margin-bottom:5px;
  margin-top:.5em; }
  .productos div h3{
    background:#da251c;
    color:#fff;
    line-height:1.5;
    margin-top:0;
    padding:0 1em;
    text-align:center;
    text-transform:uppercase; }
  .productos figure{
    background:#f5f5f5;
    border-radius:4px;
    box-shadow:0 0 15px #9e9e9e;
    margin-bottom:2em;
    margin:1em;
    transition:all .5s linear;
    text-align:center; }
    .productos figure img{
      transition:all .5s linear;
      width:100%;
      height:auto; }
    .productos figure figcaption{
      padding:.2em 0; }
      .productos figure figcaption h3{
        border-bottom:1px solid #e0e0e0;
        margin-bottom:.3em;
        padding-bottom:.5em; }
      .productos figure figcaption a{
        background:linear-gradient(#757575,#050505);
        border-radius:15px;
        color:#fff;
        display:inline-block;
        padding:.3em .5em;
        text-align:center;
        width:50%; }
        .productos figure figcaption a:hover{
          background:linear-gradient(#050505,#757575); }
  .productos .titulo h3{
    background:#eee;
    color:#000;
    line-height:2;
    margin-top:0;
    padding:0 1em;
    text-align:center;
    text-transform:uppercase;
    font-weight:700; }

.row{
  display:-ms-flexbox;
  display:flex; }

.soluciones{
  background:#fff;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -ms-flex-pack:center;
      justify-content:center;
  padding-top:1.5em; }
  .soluciones h2{
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
    padding:.5em 0;
    text-align:center; }
  .soluciones .solucion{
    text-align:center;
    margin:1em 0; }
    .soluciones .solucion figcaption a{
      border:1px solid #ccc;
      color:#000;
      display:inline-block;
      font-weight:700;
      margin:1em 0;
      padding:1em;
      transition:all .5s linear;
      width:50%; }
      .soluciones .solucion figcaption a:hover{
        background:#212121;
        color:#fff; }
    .soluciones .solucion figcaption h4{
      font-weight:700;
      margin:1em 0; }
    .soluciones .solucion img{
      border-radius:50%;
      border:5px solid #9e9e9e;
      transition:all .5s linear;
      width:50%; }
    .soluciones .solucion:hover img{
      transform:rotate(45deg); }
    .soluciones .solucion:hover figcaption a{
      background:#212121;
      color:#fff; }

.slider{
  margin-top:5px;
  -ms-flex-align:center;
      align-items:center; }

.slogan{
  background:#ff5252;
  color:#fff;
  font-family:RobotoCondensedRegular;
  font-size:1.7em;
  margin:0;
  text-align:center;
  text-shadow:1px 1px 0 #000,0 0 1px #000 inset;
  text-transform:uppercase; }

@media (max-width:479px){
  .cox1{
    width:8.33%; }
  .cox2{
    width:16.66%; }
  .cox3{
    width:25%; }
  .cox4{
    width:33.33%; }
  .cox5{
    width:41.66%; }
  .cox6{
    width:50%; }
  .cox7{
    width:58.33%; }
  .cox8{
    width:66.66%; }
  .cox9{
    width:75%; }
  .cox10{
    width:83.33%; }
  .cox11{
    width:91.66%; }
  .cox12{
    width:100%; }
  .hidden{
    display:none; }
  .nav,.poproductos{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap; } }

@media (min-width:480px){
  article:first-of-type{
    -ms-flex:1 1 50%;
        flex:1 1 50%; }
  article:nth-of-type(2){
    -ms-flex:1 1 70%;
        flex:1 1 70%; }
  .com1{
    width:8.33%; }
  .com2{
    width:16.66%; }
  .com3{
    width:25%; }
  .com4{
    width:33.33%; }
  .com5{
    width:41.66%; }
  .com6{
    width:50%; }
  .com7{
    width:58.33%; }
  .com8{
    width:66.66%; }
  .com9{
    width:75%; }
  .com10{
    width:83.33%; }
  .com11{
    width:91.66%; }
  .com12{
    width:100%; }
  .hidden{
    display:none; }
  .nav{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap; }
  .productos figure{
    width:calc(75% - 2em); }
  .poproductos{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap; } }

@media (min-width:768px){
  article:first-of-type{
    -ms-flex:1 1 35%;
        flex:1 1 35%; }
  article:nth-of-type(2){
    -ms-flex:1 1 65%;
        flex:1 1 65%; }
  .col1{
    width:8.33%; }
  .col2{
    width:16.66%; }
  .col3{
    width:25%; }
  .col4{
    width:33.33%; }
  .col5{
    width:41.66%; }
  .col6{
    width:50%;
    float:left; }
  .col7{
    width:58.33%; }
  .col8{
    width:66.66%; }
  .col9{
    width:75%; }
  .col10{
    width:83.33%; }
  .col11{
    width:91.66%; }
  .col12{
    width:100%; }
  .hidden{
    display:block; }
  .nav{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap; }
  .productos figure{
    width:calc(50% - 2em); }
  .poproductos{
    -ms-flex-wrap:nowrap;
        flex-wrap:nowrap; } }

@media (min-width:1024px){
  article:first-of-type{
    -ms-flex:1 1 25%;
        flex:1 1 25%; }
  article:nth-of-type(2){
    -ms-flex:1 1 75%;
        flex:1 1 75%; }
  .col1{
    width:8.33%; }
  .col2{
    width:16.66%; }
  .col3{
    width:25%; }
  .col4{
    width:33.33%; }
  .col5{
    width:41.66%; }
  .col6{
    width:50%;
    float:left; }
  .col7{
    width:58.33%; }
  .col8{
    width:66.66%; }
  .col9{
    width:75%; }
  .col10{
    width:83.33%; }
  .col11{
    width:91.66%; }
  .col12{
    width:100%; }
  .hidden{
    display:block; }
  .nav{
    -ms-flex-wrap:nowrap;
        flex-wrap:nowrap; }
  .productos figure{
    width:calc(33.33% - 2em); }
  .poproductos{
    -ms-flex-wrap:nowrap;
        flex-wrap:nowrap; } }

.mapa_persialuminio{
  width:100%; }
  @media screen and (min-width:816px){
    .mapa_persialuminio{
      height:450px; } }
  @media screen and (max-width:815px){
    .mapa_persialuminio{
      height:900px; } }
.swiper-container{
  width:100%;
  height:100%;
  margin:0 auto; }
  @media screen and (min-width:800px){
    .swiper-container{
      width:100%; } }

.swiper-slide{
  background:#fff;
  color:#333;
  font-size:1.8rem;
  min-height:300px;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:start;
      justify-content:flex-start;
  -ms-flex-align:start;
      align-items:flex-start;
  text-align:center;
  padding-top:56px; }

.swiper-container-horizontal>.swiper-pagination{
  top:0;
  bottom:auto; }
  .swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{
    margin:0; }

.active-mark{
  background:#da251c;
  width:50%;
  height:4px;
  position:absolute;
  left:0;
  top:52px;
  transition:left .2s ease-out; }

.swiper-pagination-bullet{
  background-color:#eee;
  border-radius:0;
  box-sizing:border-box;
  color:#000;
  cursor:pointer;
  font-size:1.2rem;
  font-weight:400;
  opacity:1;
  height:56px;
  width:50%;
  display:-ms-inline-flexbox;
  display:inline-flex;
  -ms-flex-align:center;
      align-items:center;
  -ms-flex-pack:center;
      justify-content:center;
  text-align:center;
  transition:font-weight .22s ease; }
  .swiper-pagination-bullet:first-of-type.swiper-pagination-bullet-active ~ .active-mark{
    left:0; }
  .swiper-pagination-bullet:nth-of-type(2).swiper-pagination-bullet-active~.active-mark{
    left:50%; }
  .swiper-pagination-bullet:first-of-type.swiper-pagination-bullet-active~.active-mark{
    left:0; }

.swiper-pagination-bullet-active{
  font-weight:700; }
